@{
    ViewData["Title"] = "Nuevo Cobro";
}

<link rel="stylesheet" href="~/css/Cobros.css" asp-append-version="true" />


<div class="p-3">
    <div class="mt-2">
        <div class="card shadow-sm">
            <h3 class="card-header text-end">
                <i class="fa-solid fa-table pe-2"></i>NUEVO COBRO
            </h3>
            <div class="card-body">
                <form id="formCobroTemporal">
                    <input type="hidden" id="UsuarioID" value="@User.Identity?.Name" />
                    <input type="hidden" id="CobroID" value="0" />

                    <!-- Cliente y Fecha (Sección 1) -->
                    <div class="row" id="section1">
                        <div class="mb-2 col-md-4">
                            <label for="PersonaID" class="form-label fw-bold">Cliente</label>
                            <select id="PersonaID" class="form-control">
                                <option value="">[SELECCIONE CLIENTE]</option>
                                @foreach (var persona in ViewBag.PersonaID as SelectList)
                                {
                                    <option value="@persona.Value">@persona.Text</option>
                                }
                            </select>
                        </div>

                        <div class="mb-2 col-md-4">
                            <label for="fecha" class="form-label fw-bold">Fecha</label>
                            <input type="datetime-local" id="fecha" name="fecha" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")">
                        </div>
                    </div>
                    
                    <!-- Tabla de Ventas y Botones Cobrar/Cancelar (Sección 2) -->
                    <div class="mt-4" id="form-section-2" style="display:none;">
                        <hr class="mb-3">
                        <h5>Ventas por cobrar</h5>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Número de Venta</th>
                                        <th>Fecha de Venta</th>
                                        <th class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="Tabla-Detalle"></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h4><span id="totalAcumulado">TOTAL: $0.00</span></h4>
                    </div>
                    <!-- Botones Cobrar y Cancelar -->
                    <div class="col-md-6 text-end">
                        <button type="button" class="btn btn-danger" id="btnCancelar">Cancelar</button>
                        <button type="button" class="btn boton-color" id="btnCobrar">Cobrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/NuevoCobro.js"></script>
