
.fo1{
  
    padding: 15px 15px 15px;
    background-color: rgba(171, 162, 162, 0.592);
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 70vh;
    height: 85vh;
    padding-top: 40px;
    position: absolute; 
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    
  
  }
  .re1{
  
    padding: 15px 15px 15px;
    background-color: rgba(171, 162, 162, 0.592);
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    width: 70vh;
    height: 85vh;
    padding-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }