
.fo1{
  
    padding: 15px 15px 15px;
    background-color: rgba(215, 209, 209, 0.89);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70vh;
    height: 85vh;
    padding-top: 40px;
    position: absolute; 
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  body{
    background-image: url(../img/fondologin.jpg);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }
  .formulariorecupero{
    
     padding: 15px 15px 15px;
     background-color: rgba(171, 162, 162, 0.337);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
      position: absolute;  
     top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px; 
    width: 80vh;
    height: 40vh;
    
   
    
     
    
  }