.btn-primary, .btn-danger {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

tr:hover .btn-primary, tr:hover .btn-danger {
  opacity: 1;
}

/* Cuando la pantalla es de 768px o menos, los botones tendrán opacidad fija */
@media (max-width: 768px) {
.btn-primary, .btn-danger {
  opacity: 1;
}
}

.boton-color {
    background-color: rgb(12, 12, 86);
    color: white;
    border-color: rgb(12, 12, 86);
}

.boton-color:hover {
    background-color: #0d6efd;
    color: white;
  }

.boton-color2 {
    background-color: rgba(81, 65, 65, 0.549);
}


 .container-modal {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgb(194, 185, 185);

} 


.modal-header {
    background-color: rgb(12, 12, 86);
}

.text-color {
color: white;
}

#SocioTitularID:disabled {
  cursor: not-allowed; /* Cambia el cursor a "no permitido" */
  background-color: #e9ecef;
}

.page-item .page-link {
  color: white; /* Color de texto general */
  background-color: rgb(12, 12, 86); /* Color de fondo general */
  border-color: rgb(12, 12, 86); /* Color de borde general */
}

.page-item:first-child .page-link {
  background-color: rgb(12, 12, 86);
  color: white;
  border-color: rgb(12, 12, 86);
  color: white;
}

.page-item:last-child .page-link {
background-color: rgb(12, 12, 86);
color: white;
border-color: rgb(12, 12, 86);
color: white;
}

.page-item.active .page-link {
background-color: rgb(194, 185, 185);
border-color:rgb(194, 185, 185);
}
.page-item.disabled .page-link {
background-color:  rgb(12, 12, 86);
color: white
}