html {
  font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .ocultar-en-550px {
      display: none;
  }
}
@media (max-width: 768px) {
  .ocultar-en-768px {
      display: none;
  }
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  padding: 0;
}

body {
   margin-bottom: 60px; 
}

.menuhover {
  font-size: 14px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.menuhover:hover {
  background-color: lightgrey;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

