.btn-primary, .boton-color .btn-danger {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

/* Mostrar los botones cuando se pasa el cursor sobre la fila */
tr:hover .btn-primary, tr:hover .btn-danger {
  opacity: 1;
}

  .boton-color {
    background-color: rgb(12, 12, 86);
    color: white;
    border-color: rgb(12, 12, 86);
}

.boton-color:hover {
  background-color: #0d6efd;
  color: white;
}