@{
    ViewData["Title"] = "Localidades";
}
<link rel="stylesheet" href="~/css/Localidades.css" asp-append-version="true" />

@* <div class="text-center">
    <h1 class="display-4">Localidades</h1>
</div> *@

<div class="p-3">
  <div class="row">
    <h4>Agregar Nueva Localidad<i class="ms-2 fa-solid fa-square-plus"></i></h4>
    <input type="hidden" id="LocalidadID" value="0" />
    <div class="col-md-3">
      <input type="text" class="form-control" id="LocalidadNombre" style="text-transform:uppercase"
        placeholder="Ingrese la localidad">
      <span id="errorMensajeLocalidad" style="color:red; display:none; font-size: 15px; padding-left: 4px;"><i class="fa-solid fa-circle-exclamation pe-1"></i>Debe ingresar una localidad</span>
    </div>
    <div class="col-md-3">
        @Html.DropDownList("ProvinciaID", null, htmlAttributes: new { @class = "form-control" })
        <span id="errorMensajeProvincia" style="color:red; display:none; font-size: 15px; padding-left: 4px;"><i class="fa-solid fa-circle-exclamation pe-1"></i>Debe seleccionar una provincia</span>
    </div>
    <div class="col-md-3">
      <button type="button" onclick="GuardarRegistro()" class="btn boton-color">Guardar</button>
    </div>
  </div>
</div>



<div class="p-3" style="heigth: 100%;">
  <div class="card shadow-sm">
    <h3 class="card-header text-end"><i class="fa-solid fa-table pe-2"></i>LOCALIDADES</h3>
    <div class="card-body mb-5">
      <div class="table-responsive" style="height: 350px; overflow-y: auto;">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Provincia</th>
            <th style="width: 70px"></th>
            <th style="width: 70px"></th>
          </tr>
        </thead>
        <tbody id="tbody-Localidades">
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
  


 
  @section Scripts{
  <script src="~/js/Localidades.js"></script>
}