@{
    ViewData["Title"] = "Cuentas Corrientes";
}

<link rel="stylesheet" href="~/css/CuentaCorrientes.css" asp-append-version="true" />

<div class="p-3">
    @*TABLA*@
    <div class="mt-2" style="heigth: 100%;">
        <div class="card shadow-sm">
            <div class="card-header row m-0 p-2">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="shadow-sm">
                        <div class="input-group">
                            @Html.DropDownList("PersonaID", null, new
                                {
                                    @class = "form-control fw-bold",
                                    @id = "PersonaID",
                                    @onchange = "ListadoCuentaCorrientes()"
                                })
                        </div>
                    </div>
                    <button class="btn btn-primary boton-imprimir" onclick="Imprimir()"><i
                            class="fa-solid fa-print"></i></button>
                </div>
                <div class="col-md-6 text-end d-flex align-items-center justify-content-end">
                    <h3 class="m-0"><i class="fa-solid fa-table pe-2"></i>CUENTAS CORRIENTES</h3>
                </div>
            </div>
            <div class="card-body mb-5">
                <div class="table-responsive" style="height: 450px; overflow-y: auto;">
                    <table class="table table-hover" id="tabla-imprimir">
                        <thead>
                            <tr>
                                <th>Socio</th>
                                <th>Fecha</th>
                                <th>Movimiento</th>
                                <th class="text-end">Ventas</th>
                                <th class="text-end">Cobros</th>
                                <th class="text-end">Saldo</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-CuentaCorrientes">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="paginacion-CuentaCorrientes" class="card-footer" style="min-height: 71px;"></div>
        </div>
    </div>



    @section Scripts {
        <script src="~/js/CuentaCorrientes.js"></script>
    }