<div class="p-3">
    @*TABLA*@
    <div class="mt-2" style="height: 100%;">
        <div class="card shadow-sm">
            <div class="card-header row m-0 p-2">
                <div class="col-md-12 text-end">
                    <h3 class="m-0"><i class="fa-solid fa-table pe-2"></i>INFORME PRODUCTOS</h3>
                </div>
            </div>
            <div class="card-body mb-5">
                <div class="table-responsive" style="height: 450px; overflow-y: auto;">
                    <table class="table table-hover align-middle">
                        <thead>
                            <tr>
                                <th>TIPO DE PRODUCTO</th>
                                <th>PRODUCTO</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-InformeProductos">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
  <script src="~/js/InformeProductos.js"></script>
}