@page
@model LoginModel

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Iniciar Sesión";
}
 <div class="col fo1" >
        <section class="text-center">
            <form id="account" method="post">
                <img src="~/img/LogoClubSoft-sinfondo.png" style="width: 100px;" alt="logo" />
                <h1 class="pt-2 titulocard">Iniciar Sesión</h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                    <label asp-for="Input.Email" class="form-label">Ingresa Tu Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="contraseña" />
                    <label asp-for="Input.Password" class="form-label"> Ingresa Tu Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox pt-1">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="btn-dark btn-lg m-2">Ingresar</button>
                </div>
                <div>
                    <br>
                    <p class="text-center">
                        <a id="forgot-password" asp-page="./ForgotPassword" class="text-dark">¿Olvidaste tu contraseña?Recuperala</a>
                    </p>
                    <p class="text-center">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-dark">¿No tenés una Cuenta? Registrate</a>
                    </p> 
                </div> 
            </form>
        </section>
    </div>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}  
