@page
@model RegisterModel
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Registro";
}

<div class= "row">
    <div class= "text-center fo1">
        <form class="" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <img src="~/img/LogoClubSoft-sinfondo.png" style="width: 100px;" alt="logo" />
            <h1 class="titulocard">¡Bienvenido!</h1>
            <hr />
            
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Ingresa Tu Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Ingresa Tu Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirma Tu Contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
           
             </div>
             <div>
                <button id="registerSubmit" type="submit" class="w-50 btn-dark btn-lg m-2">ENVIAR</button>
             </div>
             <h5 class="pt-3">Esta cuenta es personal y te permitirá obtener control de tu equipo.</h5>
              
        </form>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
