@{
    ViewData["Title"] = "Eventos";
}

<link rel="stylesheet" href="~/css/Eventos.css" asp-append-version="true" />

<div class="p-3">
    <h4>Agregar Nuevo Evento<i class="ms-2 fa-solid fa-square-plus"></i></h4>
    <div>
        <button type="button" class="btn btn-primary boton-color" onclick="NuevoEvento()" data-bs-toggle="modal" data-bs-target="#ModalEventos">
            Nuevo Evento
        </button>
    </div>
     
    @* MODAL AGREGAR *@
      <div class="modal" tabindex="-1" id="ModalEventos">
         <div class="modal-dialog modal-md">
            <div class="modal-content container-modal">
                <div class="modal-header">
                    <h5 class="modal-title text-color" id="ModalTitulo"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <input type="hidden" id="EventoID" value="0" />
                            <div class="mb-2 col-md-12">
                                <label for="TipoEventoID" class="form-label fw-bold">Tipo de evento</label>
                                @Html.DropDownList("TipoEventoID", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="mb-2 col-md-12">
                                <label for="DescripcionEvento" class="form-label fw-bold">Descripcion del evento</label>
                                <input type="text" class="form-control" id="DescripcionEvento" placeholder="">
                            </div>
                            <div class="mb-2 col-md-12">
                                <label for="FechaEvento" class="form-label fw-bold">Fecha Del Evento</label>
                                <input type="datetime-local" class="form-control" id="FechaEvento" 
                                  value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
                            </div>
                            <div class="mb-2 col-md-12">
                                <label for="Lugar" class="form-label fw-bold">Lugar</label>
                                <input type="text" class="form-control" id="Lugar" placeholder="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="LimpiarModal()" class="btn btn-secondary boton-color2" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="GuardarRegistro()" class="btn btn-primary boton-color">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    @* TABLA *@
    <div class="mt-2" style="heigth: 100%;">
        <div class="card">
            <h3 class="card-header text-end"><i class="fas fa-calendar-days pe-2"></i>EVENTOS</h3>
            <div class="card-body">
                <div class="table-responsive" style="height: auto; overflow-y: auto;">
                    <div class="row" id="card-Eventos"></div>  
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Eventos.js"></script>
}
