@{
    ViewData["Title"] = "Provincias";
}
<link rel="stylesheet" href="~/css/Provincias.css" asp-append-version="true" />

<div class="p-3">
  <div class="row">
      <h4>Agregar Nueva Provincia<i class="ms-2 fa-solid fa-square-plus"></i></h4>
      <input type="hidden" id="ProvinciaID" value="0" />
      <div class="col-md-3">
        <input type="text" class="form-control shadow-sm" id="ProvinciaNombre" style="text-transform:uppercase"
          placeholder="Ingrese la provincia">
        <span id="errorMensaje" style="color:red; display:none; font-size: 15px; padding-left: 4px;">
          <i class="fa-solid fa-circle-exclamation pe-1"></i>Debe ingresar una provincia
          </span>
      </div>
      <div class="col-md-3">
        <button type="button" onclick="GuardarRegistro()" class="btn boton-color shadow-sm">Guardar</button>
      </div>
  </div>
</div>

<div class="p-3" style="heigth: 100%;">
  <div class="card shadow-sm">
    <h3 class="card-header text-end"><i class="fa-solid fa-table pe-2"></i>PROVINCIAS</h3>
    <div class="card-body">
      <div class="table-responsive" style="height: 340px">
        <table class="table table-hover align-middle">
          <thead>
            <tr>
              <th style="position: sticky; top: 0; background-color: white;">Nombre</th>
              <th style="width: 70px"></th>
              <th style="width: 70px"></th>
            </tr>
          </thead>
          <tbody id="tbody-Provincias">
          </tbody>
        </table>
      </div>
    </div>
  <div id="paginacion" class="card-footer"></div>  
  </div>
</div>



 
  @section Scripts{
  <script src="~/js/Provincias.js"></script>
}