@{
    ViewData["Title"] = "Gráficos";
}
<link rel="stylesheet" href="~/css/Graficos.css" asp-append-version="true" />
<div class="p-3 row espaciado-superior" style="height: 100%;">
    <div class="col-md-6 mb-3">
        <div class="card shadow-sm" style="background-color: rgb(206, 204, 204);">
            <div class="card-body">
                <h5 class="card-title text-center">Cantidad de Socios</h5>
                <p id="totalSocios" class="text-center" style="font-size: 1.5rem;">0</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card shadow-sm" style="background-color: rgb(206, 204, 204);">
            <div class="card-body">
                <h5 class="card-title text-center">Total de Ventas</h5>
                <p id="totalVentas" class="text-center" style="font-size: 1.5rem;">0</p>
            </div>
        </div>
    </div>
</div>

<div class="p-3 row espaciado-superior ">
    <div class="card shadow-sm col-md-6 mb-3 card-grafico " style="min-height: 400px;">
        <h3 class="card-header text-end">
            <i class="fa-solid fa-table pe-2"></i>SOCIOS POR LOCALIDAD
        </h3>
        <div class="card-body" style="position: relative; height: 300px;">
            <canvas id="grafico-socio"></canvas>
        </div>
    </div>

    <div class="card shadow-sm col-md-6 mb-3 card-grafico">
        <h3 class="card-header text-end">
            <i class="fa-solid fa-chart-pie pe-2"></i>Cantidad de Productos Vendidos
        </h3>
        <div class="card-body">
            <canvas id="grafico-productos" style="height: 300px;"></canvas>
        </div>
    </div>
</div>





@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="~/js/Graficos.js"></script>
}
