@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">Welcome</h1>
    <button>
        <a class="btn" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
    </button>
    <button>
        <a class="btn" asp-area="Identity" asp-page="/Account/Login">Ingresar con tu usuario</a>
    </button>
</div>
