@{
    ViewData["Title"] = "Inicio";
}
<link rel="stylesheet" href="~/css/Inicio.css" asp-append-version="true" />

@* <h1 class="text-center mt-3">¡Bienvenido @User.Identity?.Name!</h1> *@

<div class="container mt-5 p-3 custom-container">
    <h2 class="text-center mb-4">Accesos Rápidos</h2>
    <div class="row">
        @* <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
        <div class="card-body">
        <div class="row">
        <div class="col-3 text-center">
        <i class="fas fa-map-marker-alt fa-3x mb-3"></i>
        </div>
        <div class="col-9">
        <h5 class="titulo-card">Provincias</h5>
        </div>
        <div class="text-end w-100">
        <a class="btn btn-primary" asp-controller="Provincias" asp-action="Index">
        <i class="fas fa-arrow-right ml-2"></i>
        </a>
        </div>
        </div>
        </div>
        </div>
        </div> *@
        @* <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
        <div class="card-body">
        <div class="row">
        <div class="col-3 text-center">
        <i class="fas fa-city fa-3x mb-3"></i>
        </div>
        <div class="col-9">
        <h5 class="titulo-card">Localidades</h5>
        </div>
        <div class="text-end w-100">
        <a class="btn btn-primary" asp-controller="Localidades" asp-action="Index">
        <i class="fas fa-arrow-right ml-2"></i>
        </a>
        </div>
        </div>
        </div>
        </div>
        </div> *@
        <div class="col-md-2 mb-4 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fas fa-users fa-2x mb-2"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="titulo-card">Personas</h5>
                        </div>
                        <div class="text-end w-100">
                            <a class="btn btn-primary" asp-controller="Personas" asp-action="Index">
                                <i class="fas fa-arrow-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-4 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fas fa-calendar-days fa-2x mb-2"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="titulo-card">Eventos</h5>
                        </div>
                        <div class="text-end w-100">
                            <a class="btn btn-primary" asp-controller="Eventos" asp-action="Index">
                                <i class="fas fa-arrow-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
        <div class="card-body">
        <div class="row">
        <div class="col-3 text-center">
        <i class="fas fa-calendar-days fa-3x mb-3"></i>
        </div>
        <div class="col-9">
        <h5 class="titulo-card">Tipos de Eventos</h5>
        </div>
        <div class="text-end w-100">
        <a class="btn btn-primary" asp-controller="Eventos" asp-action="Index">
        <i class="fas fa-arrow-right ml-2"></i>
        </a>
        </div>
        </div>
        </div>
        </div>
        </div> *@
        <div class="col-md-2 mb-2 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fa-solid fa-list fa-2x mb-2"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="titulo-card">Producto</h5>
                        </div>
                        <div class="text-end w-100">
                            <a class="btn btn-primary" asp-controller="Productos" asp-action="Index">
                                <i class="fas fa-arrow-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
        <div class="card-body">
        <div class="row">
        <div class="col-3 text-center">
        <i class="fa-solid fa-list fa-3x mb-3"></i>
        </div>
        <div class="col-9">
        <h5 class="titulo-card">Tipos Productos</h5>
        </div>
        <div class="text-end w-100">
        <a class="btn btn-primary" asp-controller="TipoProductos" asp-action="Index">
        <i class="fas fa-arrow-right ml-2"></i>
        </a>
        </div>
        </div>
        </div>
        </div>
        </div> *@
        <div class="col-md-2 mb-4 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fa-solid fa-cart-shopping fa-2x mb-2"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="titulo-card">Ventas</h5>
                        </div>
                        <div class="text-end w-100">
                            <a class="btn btn-primary" asp-controller="Ventas" asp-action="Index">
                                <i class="fas fa-arrow-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-4 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fa-solid fa-pen-to-square fa-2x mb-2"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="titulo-card">Cuentas</h5>
                        </div>
                        <div class="text-end w-100">
                            <a class="btn btn-primary" asp-controller="CuentaCorrientes" asp-action="Index">
                                <i class="fas fa-arrow-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
        <div class="card-body">
        <div class="row">
        <div class="col-3 text-center">
        <i class="fa-solid fa-address-card fa-3x mb-3"></i>
        </div>
        <div class="col-9">
        <h5 class="titulo-card">Socios Titulares</h5>
        </div>
        <div class="text-end w-100">
        <a class="btn btn-primary" asp-controller="SocioTitulares" asp-action="Index">
        <i class="fas fa-arrow-right ml-2"></i>
        </a>
        </div>
        </div>
        </div>
        </div>
        </div> *@
        @* <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
        <div class="card-body">
        <div class="row">
        <div class="col-3 text-center">
        <i class="fa-solid fa-address-card fa-3x mb-3"></i>
        </div>
        <div class="col-9">
        <h5 class="titulo-card">Socios Adherentes</h5>
        </div>
        <div class="text-end w-100">
        <a class="btn btn-primary" asp-controller="SocioAdherentes" asp-action="Index">
        <i class="fas fa-arrow-right ml-2"></i>
        </a>
        </div>
        </div>
        </div>
        </div>
        </div> *@
        <div class="col-md-2 mb-4 col-sm-12">
            <div class="card custom-card d-flex align-items-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 text-center">
                            <i class="fa-solid fa-cash-register fa-2x mb-2"></i>
                        </div>
                        <div class="col-9">
                            <h5 class="titulo-card">Cobros</h5>
                        </div>
                        <div class="text-end w-100">
                            <a class="btn btn-primary" asp-controller="Cobros"
                                asp-action="Index">
                                 <i class="fa-solid fa-chevron-right ml-2"></i>
                                </a>
                               
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 p-3 contenedor2">
    <div class="row gap-5 justify-content-center">
        <div class="card shadow-sm col-md-5">
            <div class="card-header bg-white text-end">
                <h3>
                    <i class="fa-solid fa-cart-shopping pe-2"></i>Ventas Por Cliente
                </h3>
            </div>
            <div class="pb-3">
                <div class="table-responsive" style="height: 450px; overflow-y: auto;">
                    <table class="table table-hover align-middle">
                        <thead>
                            <tr>
                                <th>CLIENTE</th>
                                <th class="text-end">Fecha</th>
                                <th class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-InformeVentas">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card ml-2 shadow-sm col-md-5 ">
            <h3 class="card-header bg-white text-end">
                <i class="fa-solid fa-users pe-2"></i>ROLES 
            </h3>
            <div class="card-body">
                <div class="table-responsive" style="height: 450px; overflow-y: auto;">
                    <table class="table table-hover align-middle">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 15%;">Rol</th>
                                <th class="text-end">Nombre</th>
                                <th class="text-center">Email</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-InformeRoles">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

</div>

@section Scripts {
    <script src="~/js/Inicio.js"></script>
}
