@{
    ViewData["Title"] = "Inicio";
}
<link rel="stylesheet" href="~/css/Inicio.css" asp-append-version="true" />

<h1 class="text-center mt-3">¡Bienvenido @User.Identity?.Name!</h1>


<div class="container mt-5">
    <div class="row">
      <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <i class="fas fa-map-marker-alt fa-3x mb-3"></i>
              </div>
              <div class="col-9">
                <h5 class="titulo-card">Provincias</h5>
              </div>
              <div class="text-end w-100">
                <a class="btn btn-primary" asp-controller="Provincias" asp-action="Index">
                  <i class="fas fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <i class="fas fa-city fa-3x mb-3"></i>
              </div>
              <div class="col-9">
                <h5 class="titulo-card">Localidades</h5>
              </div>
              <div class="text-end w-100">
                <a class="btn btn-primary" asp-controller="Localidades" asp-action="Index">
                  <i class="fas fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <i class="fas fa-users fa-3x mb-3"></i>
              </div>
              <div class="col-9">
                <h5 class="titulo-card">Personas</h5>
              </div>
              <div class="text-end w-100">
                <a class="btn btn-primary" asp-controller="Personas" asp-action="Index">
                  <i class="fas fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <i class="fas fa-calendar-days fa-3x mb-3"></i>
              </div>
              <div class="col-9">
                <h5 class="titulo-card">Eventos</h5>
              </div>
              <div class="text-end w-100">
                <a class="btn btn-primary" asp-controller="Eventos" asp-action="Index">
                  <i class="fas fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <i class="fas fa-calendar-days fa-3x mb-3"></i>
              </div>
              <div class="col-9">
                <h5 class="titulo-card">Tipos de Eventos</h5>
              </div>
              <div class="text-end w-100">
                <a class="btn btn-primary" asp-controller="Eventos" asp-action="Index">
                  <i class="fas fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <i class="fa-solid fa-list fa-3x mb-3"></i>
              </div>
              <div class="col-9">
                <h5 class="titulo-card">Productos</h5>
              </div>
              <div class="text-end w-100">
                <a class="btn btn-primary" asp-controller="Productos" asp-action="Index">
                  <i class="fas fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <i class="fa-solid fa-list fa-3x mb-3"></i>
              </div>
              <div class="col-9">
                <h5 class="titulo-card">Tipos Productos</h5>
              </div>
              <div class="text-end w-100">
                <a class="btn btn-primary" asp-controller="TipoProductos" asp-action="Index">
                  <i class="fas fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <i class="fa-solid fa-cart-shopping fa-3x mb-3"></i>
              </div>
              <div class="col-9">
                <h5 class="titulo-card">Ventas</h5>
              </div>
              <div class="text-end w-100">
                <a class="btn btn-primary" asp-controller="Ventas" asp-action="Index">
                  <i class="fas fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <i class="fa-solid fa-pen-to-square fa-3x mb-3"></i>
              </div>
              <div class="col-9">
                <h5 class="titulo-card">Cuentas Corrientes</h5>
              </div>
              <div class="text-end w-100">
                <a class="btn btn-primary" asp-controller="CuentaCorrientes" asp-action="Index">
                  <i class="fas fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <i class="fa-solid fa-address-card fa-3x mb-3"></i>
              </div>
              <div class="col-9">
                <h5 class="titulo-card">Socios Titulares</h5>
              </div>
              <div class="text-end w-100">
                <a class="btn btn-primary" asp-controller="SocioTitulares" asp-action="Index">
                  <i class="fas fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 col-sm-12">
        <div class="card custom-card d-flex align-items-center">
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <i class="fa-solid fa-address-card fa-3x mb-3"></i>
              </div>
              <div class="col-9">
                <h5 class="titulo-card">Socios Adherentes</h5>
              </div>
              <div class="text-end w-100">
                <a class="btn btn-primary" asp-controller="SocioAdherentes" asp-action="Index">
                  <i class="fas fa-arrow-right ml-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>